---
---
.page-header h1{
  font-size: 2.5em;
}

footer {
  margin: 20px 0;
}

p {
  text-align: justify;
}

blockquote p + p {
  margin-top: .67em;
}

.listing img,
.meta img {
  background-color: {{ site.image_border_color }};
  border-radius: 20px;
  padding: 1px;
}

#post {
  margin-bottom: 32px;
}

#post img {
  display: block;
  margin: 1em auto 0 auto;
  width: 100%;
}

#post img + em {
  display: block;
  margin-top: .5em;
  text-align: center;
}

#post .thumbnail img {
  margin: 0;
}

.listing {
  font-size: 1.17em;
}

.listing li {
  list-style-type: none;
  padding: 10px 2px;
}

.listing span {
  float: right;
  font-size: 0.67em;
}

#fblike iframe {
  width: 95px !important;
}

/* Custom CSS below */

/* FlowType.JS */
body {font-size: 16px}
h1   {font-size: 2.5em}
h2   {font-size: 2em}
h3   {font-size: 1.67em}
h4   {font-size: 1.5em}
h5   {font-size: 1.35em}
h6   {font-size: 1.17em}

h2:not(:first-child), h3, h4, h5, h6 {
  margin: 1.5em 0 .5em 0;
}

img.border {
  border: 4px solid {{ site.image_border_color }};
  border-radius: 4px;
  box-sizing: border-box;
}
