<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ site.meta_description }}">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/themes/{{ site.theme }}.css">
        <link rel="stylesheet" href="/css/custom.css">
        <link rel="alternate" type="application/atom+xml" href="{{ site.feed_url }}">
    </head>
    <body>
        <div class="container">
            <header class="page-header">
                <h1 class="title"><a href="/">{{ site.name }}</a></h1>
                <p class="lead">{{ site.short_description }}</p>
            </header>
            <div class="row">
                <div class="col-md-9">
                    <section>
                        {{ content }}
                    </section>
                </div>
                <div id="sidebar" class="col-md-3">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">About</h3>
                      </div>
                      <div class="panel-body">
                        {{ site.meta_description }}
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Contact</h3>
                      </div>
                      <div class="panel-body">
                        {% if site.twitter.enabled and site.twitter.username %}
                        <a href="https://twitter.com/{{ site.twitter.username }}" class="twitter-follow-button" data-show-count="false" data-lang="{{ site.twitter.lang }}" data-dnt="true">Suivre @{{ site.twitter.username }}</a>
                        {% endif %}
                      </div>
                    </div>
                </div>
            </div>
            <footer>
                <p>&copy; {{ site.name }}</p>
                <!-- If you remove this you will die from cancer. True story. -->
                <small><a href="https://github.com/Pym/bootkyll">Bootkyll</a> theme by <a href="http://pym.me/">Pym</a></small>
            </footer>
        </div>
        {% include twitter.html %}
        {% if site.analytics.enabled and site.analytics.id %}
            {% include analytics.html %}
        {% endif %}
        <script src="/js/jquery.min.js" type="text/javascript"></script>
        <script src="/js/flowtype.js" type="text/javascript"></script>
        <script type="text/javascript">
            $('body').flowtype({
               minFont : 12,
               maxFont : 16
            });
        </script>
    </body>
</html>
